* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease, fill 0.5s ease;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.preloader {
    position: fixed;
    inset: 0;
    height: 100%;
    background: var(--bg-main);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 9999;
    transition: opacity 0.6s ease, visibility 0.1s ease;
}

.preloader.hide {
    opacity: 0;
    pointer-events: none;
}

.loader {
    display: flex;
    gap: 6px;
}

.loader span {
    width: 8px;
    height: 40px;
    background: var(--bg-dark);
    border-radius: 4px;
    animation: wave 1.2s infinite ease-in-out;
}

.loader span:nth-child(1) {
    animation-delay: 0s;
}

.loader span:nth-child(2) {
    animation-delay: 0.1s;
}

.loader span:nth-child(3) {
    animation-delay: 0.2s;
}

.loader span:nth-child(4) {
    animation-delay: 0.3s;
}

.loader span:nth-child(5) {
    animation-delay: 0.4s;
}

@keyframes wave {

    0%,
    100% {
        transform: scaleY(0.4);
        opacity: 0.6;
    }

    50% {
        transform: scaleY(1);
        opacity: 1;
    }
}

:root {

    --bg-main: #ffffff;
    --bg-glass: rgba(255, 255, 255, 0.35);
    --bg-card: #ffffff;
    --bg-dark: #000000;
    --bg-second: #fafafa;
    --bg-third: #000000;
    --bg-gradient: linear-gradient(270deg, #000000, #505050, #272727);
    --bg-fixed: #ffff;
    --bg-violet: linear-gradient(45deg, #1d1d1d, #272727, #171717);
    --bg-indark: linear-gradient(270deg, #ffffff, #dadada, #cfcfcf);
    --bg-cert: linear-gradient(270deg, #e7d20e, #ffd000, #e7b100);

    --text-main: #2a2a2a;
    --text-muted: #333232;
    --text-light: #ffffff;

    --accent: #ffae00;
    --darker: #000a9a;
    --accent-hover: #109C08;

    --border-light: 1px solid rgba(0, 0, 0, 0.144);

    --shadow-soft: 0 10px 15px -3px rgb(230, 230, 230),
        0 4px 6px -2px rgba(209, 214, 255, 0.74);

    --bg-filter: blur(20px);
    --bg-blur: rgba(255, 255, 255, 0.51);


    --shadow-mode:
        inset 2px 2px 5px rgba(0, 0, 0, 0.25),
        inset -2px -2px 5px rgba(255, 255, 255, 0.6);

    --bg-span: #0000;
    --text-button: #ffffff;

    --hovers-: #eeeeee;
}

body.dark-mode {
    --bg-main: #0f0f0f;
    --bg-glass: rgba(0, 0, 0, 0.55);
    --bg-card: #1a1a1a;
    --bg-second: #141414;
    --bg-dark: #ffffff;

    --text-main: #d1d1d1;
    --text-muted: #cfcfcf;

    --accent: #ffae00;
    --accent-hover: #00ff88;

    --border-light: #ffffff1e solid 1px;
    --border-second:  #ffffff43 solid 1px;

    --shadow-soft: 0 10px 15px -3px rgba(0, 0, 0, 0.6);

    --bg-filter: blur(20px);
    --bg-blur: rgba(255, 255, 255, 0.088);

    --bg-gradient: linear-gradient(270deg, #ffffff, #dadada, #cfcfcf);

    --shadow-mode: inset 2px 2px 6px rgba(0, 0, 0, 0.6),
        inset -2px -2px 6px rgba(255, 255, 255, 0.08);

    --bg-span: #2d2d2d00;
    --text-button: #000000;

    --hovers-: #2a2a2a;
}



html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: var(--bg-main);
}

/* Header Section */

.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-second);
}

.header .navbar {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo h3 {
    color: var(--accent);
}

.modes {
    position: relative;
    cursor: pointer;
}

.modes p {
    color: var(--text-main);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.modal {
    position: absolute;
    width: auto;
    right: 0;
    top: 150%;
    border: var(--border-light);
    border-radius: 10px;
    padding: 0.7rem;
    opacity: 0;
    z-index: 9999;
    background-color: var(--bg-second);
}

.modal.show {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
}

.modal .modal-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal .modal-body .lightmode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0.4rem;
    border-radius: 12px;
    border: var(--border-light);
    cursor: pointer;
    background-color: var(--bg-second);
}

.modal .modal-body .darkmode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border: var(--border-light);
    padding: 0.4rem;
    border-radius: 12px;
    cursor: pointer;
    background-color: var(--bg-second);
}

.modal .modal-body .lightmode p {
    color: var(--text-main);
    font-size: 0.9rem;
    margin-right: 8px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.modal .modal-body .darkmode p {
    color: var(--text-main);
    font-size: 0.9rem;
    margin-right: 8px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.modal .modal-body .lightmode svg {
    font-size: 1.2rem;
    color: var(--accent);
}

.modal .modal-body .darkmode svg {
    font-size: 1.2rem;
    color: var(--darker);
}

/* Home Section */

.container {
    width: 100%;
    height: 900px;
    background: var(--bg-second);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0 50%;
    }
}

.container .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 80%;
}

.container .content .content1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding: 10PX;
}

.container .content .content2 {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .content .content2 img {
    width: 600px;
    height: 700px;
    min-height: 100%;
    object-fit: cover;
    max-width: 100%;
    margin-bottom: 6rem;
}

.container .content .character {
    font-size: clamp(1.2rem, 5vw, 4rem);
    font-weight: 800;
    background: var(--bg-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
}

@keyframes text {
    to {
        background-position: 200%;
    }
}

.container .content .paragrap {
    color: var(--text-main);
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container .content .button {
    display: flex;
    gap: 10px;
    width: 100%;
}

.container .content .button button:nth-child(1) {
    padding: 1rem;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background-color: var(--bg-third);
    color: var(--text-light);
    border: var(--border-second);

}

.container .content .button button:nth-child(1):hover {
    transform: translateY(-8px);
    transition: all 0.3s ease-in-out;
}

.container .content .button button:nth-child(1) a{
    text-decoration: none;
    color: var(--text-light);
}

.container .content .button button:nth-child(2) {
    padding: 1rem;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    border: var(--border-light);
    background-color: var(--bg-fixed);
}

.container .content .button button:nth-child(2):hover {
    transform: translateY(-8px);
    transition: all 0.3s ease-in-out;
}

.container .content .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 8px;
}


.container .content .links-ceertificate .social-links a {
    color: var(--text-main);
    transition: all 0.3s ease-in-out;
}

.container .content .links-ceertificate .social-links a:hover {
    color: var(--accent);
    transform: translateY(-8px);
}

.links-ceertificate {
    display: flex;
    align-items: center;
    width: auto;
    gap: 20px;
    width: 100%;
}

.certificate {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    width: clamp(150px, 100%, 36.4%);
    background: var(--bg-cert);
    border-radius: 10PX;
    color: var(--text-main);
    position: relative;
    border: var(--border-light);
}

.cer-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.certificate .cer-body svg.scale {
    transform: rotate(-180deg);
    transition: all 0.3s ease-in-out;
}

.modal-cert {
    position: absolute;
    height: auto;
    width: 100%;
    border: var(--border-light);
    right: 0;
    top: 110%;
    z-index: 999;
    background-color: var(--bg-second);
    border-radius: 10px;
    opacity: 0;
}

.modal-cert.show {
    opacity: 1;
}


.modal-cert .modal-cert-body {
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-cert .modal-cert-body p {
    color: var(--text-main);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.modal-cert .modal-cert-body .ncii {
    border: var(--border-light);
    padding: 0.8rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-cert .modal-cert-body .ncii svg {
    color: var(--text-main);
}

.modal-cert .modal-cert-body .bestcoding {
    border: var(--border-light);
    padding: 0.8rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-cert .modal-cert-body .bestcoding:hover,
.modal-cert .modal-cert-body .ncii:hover {
    background-color: var(--hovers-);
}

.modal-cert .modal-cert-body .bestcoding svg {
    color: var(--text-main);
}




/* About Section */


.About-section {
    width: 100%;
    height: auto;
    background-color: var(--bg-main);
    display: flex;
    align-items: center;
    justify-content: center;
}

.About-section .about-body {
    width: 80%;
    height: 900px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.About-section .about-body div {
    background-color: var(--bg-main);
    border-radius: 10px;
}

.box1 {
    grid-column: span 2 / span 2;
    grid-row: span 8 / span 8;
    border: var(--border-light);
}

.box1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    background-color: var(--bg-main);
}

.box2 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: var(--bg-main);
    border: var(--border-light);
}

.About-section .about-body .box2 .about-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.About-section .about-body .box2 .about-content .about-me {
    display: flex;
    align-items: center;
    gap: 10px;
}

.About-section .about-body .box2 .about-content .about-me {
    color: var(--text-main);
}

.About-section .about-body .box2 .about-content h3 {
    color: var(--text-main);
}

.About-section .about-body .box2 .about-content p {
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: var(--text-main);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.box3 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    border: var(--border-light);
    background-color: var(--bg-dark);
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    color: var(--text-main);
    justify-content: center;
    align-items: center;
}

.info1,
.info3,
.info2,
.info4 {
    display: flex;
    align-items: center;
    gap: 20px;

}

.info1 p,
.info3 p,
.info2 p,
.info4 p {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.info1 svg,
.info2 svg,
.info3 svg,
.info4 svg {
    color: var(--text-main);
}

.box4 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    border: var(--border-light);
    background: var(--bg-violet);
}

.About-section .about-body .box4 .moto {
    width: 90%;
    background: transparent;
}

.About-section .about-body .box4 h1 {
    font-weight: 900;
    background: var(--bg-indark);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200%;
    -webkit-text-fill-color: transparent;
}


.box5 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 6;
    color: var(--text-main);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    flex-direction: column;
    gap: 30px;
    background-color: var(--bg-main);
    border: var(--border-light);
}

.About-section .about-body .box5 .box5-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
    height: auto;
}

.About-section .about-body .box5 .box5-body .tech-head {
    display: flex;
    align-items: center;
    gap: 10px;
}

.About-section .about-body .box5 .tech h1 {
    font-size: 2rem;
}

.About-section .about-body .box5 .tech {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.About-section .about-content .box5 .tech,
.tech1,
.tech2,
.tech3,
.tech4,
.tech5,
.tech6,
.tech7,
.tech8,
.tech9 {
    border: var(--border-light);
    padding: 0.8rem;
    font-size: 0.9rem;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}



.tech1:hover,
.tech2:hover,
.tech3:hover,
.tech4:hover,
.tech5:hover,
.tech6:hover,
.tech7:hover,
.tech8:hover,
.tech9:hover{
    transform: scale(1.05);
    transition: 0.3s ease;
    color: var(--text-button);
}

.tech1::before,
.tech2::before,
.tech3::before,
.tech4::before,
.tech5::before,
.tech6::before,
.tech7::before,
.tech8::before,
.tech9::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--bg-dark);
    z-index: -1;
    transition: transform 0.3s ease;
    transform-origin: 0 0 ;
    border-radius: 10px;
}


.tech1::before, .tech2::before, .tech3::before, .tech4::before, .tech5::before, .tech6::before, .tech7::before, .tech8::before, .tech9::before {
    transform: scaleX(0);
}

.tech1:hover::before,.tech2:hover::before,.tech3:hover::before,.tech4:hover::before,.tech5:hover::before,.tech6:hover::before,.tech7:hover::before,.tech8:hover::before, .tech9:hover::before{
    transform: scaleX(1);
}

.box6 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 9;
    border: var(--border-light);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box6 .box6-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box6 .box6-body img {
    display: block;
    object-fit: cover;
    filter: grayscale(1);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    animation: appear 1s ease-in-out forwards;
}

.box6 .box6-body img:hover {
    filter: grayscale(0);
    transition: all 0.5s ease-in-out;
}

.box6 .box6-body h1 {
    position: absolute;
    color: white;
}


@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(10px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}


/* Services Section */


.services {
    width: 100%;
    height: auto;
    background: var(--bg-main);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}

.headservs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headservs h1 {
    font-size: clamp(1.9rem, 5vw, 3.5rem);
    background: var(--bg-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 3rem;
    position: relative;
}

.headservs h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 8px;
    background-color: var(--accent);
    border-radius: 5px;
    bottom: -3%;
}

.services-body {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    height: auto;
}

.services .services-body .serv-body .serv1 {
    width: 100%;
    max-width: 466px;
    height: 290px;
    background-color: var(--bg-main);
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 10px;
    border: var(--border-light);
}

.services .services-body .serv-body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.services .services-body .serv1:hover {
    transform: scale(1.03);
    transition: all 0.5s ease;
}

.services .services-body .serv1 .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.services .services-body .serv1 .card .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.services .services-body .serv1 .card .head {
    color: var(--text-main);
}

.services .services-body .serv1 .card .head h3 {
    color: var(--text-main);
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.services .services-body .serv1 .card p {
    color: var(--text-main);
    line-height: 1.6rem;
    font-size: 1.2rem;
    font-weight: normal;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.services .services-body .serv1 .card .view {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}


.services .services-body .serv1 .card .view button {
    padding: 0.9rem;
    width: 150px;
    background-color: var(--bg-main);
    color: var(--text-main);
    border: 1px solid #61616142;
    border-radius: 5px;
    font-weight: 800;
}

.services .services-body .serv1 .card .view button:hover {
    background-color: var(--bg-dark);
    transition: all ease-in-out 0.3s;
    color: var(--bg-main);
}



/* Projects Section */

.project {
    width: 100%;
    height: auto;
    background: var(--bg-main);
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
    height: 700px;
    width: 80%;
}

.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    border: var(--border-light);
    border-radius: 10px;
}

.div1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    border: var(--border-light);
    border-radius: 10px;
}

.div2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 5;
    border-radius: 10px;
    border: var(--border-light);
}

.div3 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-row-start: 4;
    border-radius: 10px;
    border: var(--border-light);
}

.div4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 5;
    border-radius: 10px;
    border: var(--border-light);
}

.div5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.div6 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 6;
    border-radius: 10px;
    border: var(--border-light);
}

.div6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.div7 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-row-start: 8;
    border-radius: 10px;
    border: var(--border-light);
}

.div7 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.div8 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 9;
    border-radius: 10px;
    border: var(--border-light);
}

.div8 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.div9 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 10;
    border-radius: 10px;
    border: var(--border-light);
}

.div9 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.div1 img,
.div2 img,
.div3 img,
.div4 img,
.div5 img,
.div6 img,
.div7 img,
.div8 img,
.div9 img {
    filter: grayscale(1);
    transition: all 0.5s ease-in-out;
}

.div1 img:hover,
.div2 img:hover,
.div3 img:hover,
.div4 img:hover,
.div5 img:hover,
.div6 img:hover,
.div7 img:hover,
.div8 img:hover,
.div9 img:hover {
    filter: grayscale(0);
}


/* Bottom Header */

.bottom-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 2%;
    z-index: 1200;
}

.header-bttom-body {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--bg-blur);
    backdrop-filter: var(--bg-filter);
    gap: 26px;
    border-radius: 10px;
}

.header-bttom-body a {
    color: var(--text-main);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 10px;
}


.header-bttom-body a:hover {
    background-color: var(--accent);
    transition: all 0.3s ease-in-out;
    outline: auto;
}


/* Footer Section */

footer {
    width: 100%;
    height: 200px;
    background-color: var(--bg-second);
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-body p {
    color: var(--text-main);
    font-size: 1.1rem;
    font-weight: normal;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Contact Section */

.contact {
    height: 700px;
    width: 100%;
    background-color: var(--bg-main);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

.body-contact-content {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.body-contact-content form {
    display: flex;
    width: 40%;
    border: var(--border-light);
    border-radius: 10px;
}

.body-contact-content form .form-body {
    padding: 1rem;
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.body-contact-content form .form-body input {
    width: auto;
    border-radius: 10px;
    padding: 1rem;
    border: none;
    border: var(--border-light);
}

.body-contact-content form .form-body textarea {
    width: auto;
    height: 150px;
    border-radius: 10px;
    padding: 1rem;
    resize: none;
    border: none;
    border: var(--border-light);
}

.form-button button {
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: var(--bg-dark);
    color: var(--text-button);
    font-weight: 800;
}

.contact-content {
    width: clamp(400px, 90%, 700px);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.contact-content h1 {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    background: var(--bg-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200%;
    -webkit-text-fill-color: transparent;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contact-content p {
    line-height: 1.6rem;
    font-size: 1.1rem;
    font-weight: normal;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--text-main);
}

.spaning-dot span:nth-child(1) {
    width: 30px;
    height: 10px;
    background-color: #ffd500;
    display: inline-block;
    border-radius: 10px;
}

.spaning-dot span:nth-child(2) {
    width: 20px;
    height: 10px;
    background-color: #b89a00;
    display: inline-block;
    border-radius: 10px;
}

.spaning-dot span:nth-child(3) {
    width: 10px;
    height: 10px;
    background-color: #9b8100;
    display: inline-block;
    border-radius: 10px;
}

.connect {
    width: 700px;
    max-width: 100%;
    height: 400px;
}


/* Responsive Design */

@media (max-width: 1613px) {
    .services .services-body .serv-body .serv1 {
        height: auto;
        width: 380px;
        padding: 1rem;
    }
}

@media (max-width: 1133px) {
    .services .services-body .serv-body .serv1 {
        height: auto;
        width: 270px;
        padding: 1rem;
    }


    .services .services-body .serv1 .card {
        gap: 15px !important;
    }

    .proj1 {
        width: 100%;
        max-width: 300px;

    }
}


@media (max-width: 1195px) {
    .header .navbar {
        width: 90%;
    }

    .container {
        height: auto;
    }

    .container .content .content2 img {
        height: 500px;
        width: 600px;
    }

    .character{
        font-size: 2.3rem !important;
    }

    .About-section .about-body {
        width: 90%;
    }

    .About-section .about-body .box2 .about-content p {
        font-size: 1rem;
    }

    .container .content {
        width: 90%;
    }

    .certificate{
        width: clamp(150px, 100%, 100%);   
    }
}

@media (max-width: 1024px) {
    .header .navbar {
        width: 90%;
    }

    /* About Section 
    .About-section .about-body {
        width: 95%; 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: auto; 
        height: auto; 
    }
    


    .box1, .box2, .box3, .box4, .box5 {
        grid-column: span 2 / span 2 !important;
        grid-row: auto !important;
        height: auto;
    }
    
    */

    .box1 img {
        width: 100%;
        height: 715PX;
        object-fit: cover;
        border-radius: 5px;
    }

    .container {
        width: 100%;
        height: 700px;
    }

    .container .content {
        width: 90%;
    }

    .container .content .content2 {
        width: 100%;
        max-width: 100%;
    }

    .container .content .content2 img {
        max-width: 100%;
        height: 100%;
        width: 500px;
    }

    .About-section .about-body {
        width: 90%;
    }

    .About-section .about-body .box2 .about-content p {
        font-size: 0.9rem;
    }

    .character {
        font-size: 2.3rem !important;
    }

    .services .services-body .serv1 .card {
        gap: 15px !important;
    }

    .services .services-body .serv-body .serv1 {
        height: auto;
        width: 240px;
        padding: 1.4rem;
    }

    .proj1 {
        width: 100%;
        max-width: 290px;
    }

    .certificate{
        width: clamp(150px, 100%, 100%);   
    }

    .parent{
        width: 90%; 
    }

    .body-contact-content{
        width: 90%;
    }

}


@media (max-width: 1000px) {
    .container {
        height: auto;
    }

    .services .services-body .serv-body .serv1 {
        height: auto;
        padding: 0.8rem;
    }

    .services .services-body .serv1 .card p {
        font-size: 0.9rem;
    }
}


@media (max-width: 937px) {

    .services .services-body .serv-body .serv1 {
        width: 230px;
    }

    .container {
        height: auto;
    }

    .container .content .content1 {
        width: auto;
    }

    .container .content .content2 img {
        width: 450px;
        height: 450px;
    }

    .container .content .content1 .button {
        width: 100% !important;
    }

    .container .content .content1 .button button {
        width: 100% !important;

    }

    .character {
        font-size: 1.8rem !important;
    }

}

@media (max-width: 904px) {
    .About-section .about-body .box5 .tech {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 902px) {
    .About-section .about-body .box5 .tech {
        grid-template-columns: repeat(3, 1fr);
    }

    .services .services-body .serv-body .serv1 {
        width: 100%;
        max-width: 360px;
    }

    .proj1 {
        width: 100%;
        max-width: 360px;
    }
}

@media (max-width: 890px) {
    .About-section .about-body .box5 .tech {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 859px) {
    .info {
        gap: 20px;
    }

    .About-section .about-body .box5 .tech {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width: 815px) {
    .About-section .about-body {
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        height: auto;
    }

    .box1 img {
        height: 300PX;
    }

    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6 {
        grid-column: span 2 / span 2 !important;
        grid-row: auto !important;
        height: auto;
    }
}

@media (max-width: 883px) {
    .services .services-body .serv-body .serv1 {
        height: auto;
        width: 100%;
        max-width: 320px;
    }
}

@media (max-width: 882px) {
    .container .content .content2 img {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }
}

@media (max-width: 794px) {
    .services .services-body .serv-body {
        width: 100%;
    }

    .services .services-body .serv-body .serv1 {
        height: auto;
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .About-section {
        align-items: center;
        justify-content: center;
    }

    .About-section .about-body {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 1rem 0;
    }

    .box1 {
        height: auto;
    }

    .box1 img {
        height: 300PX;
        display: block;
    }

    .box2,
    .box3,
    .box4,
    .box5 {
        width: auto;
        height: auto;
    }


    .info {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .About-section .about-body .box5 .tech {
        grid-template-columns: repeat(3, 1fr);
    }

    .About-section .about-body .box2 .about-content h2 {
        font-size: 1.5rem;
    }

    .content {
        flex-direction: column-reverse;
        width: 90%;
    }

    .container {
        height: auto;
    }

    .container .content .content2 img {
        margin-bottom: 0;
    }

    .container .content .button button:nth-child(1) {
        width: 100%;
    }

    .container .content .button button:nth-child(2) {
        width: 100%
    }

    /*
    .parent{
        width: 90%; 
        grid-template-columns: repeat(1, 1fr); 
        grid-template-rows: auto; 
        height: auto; 
    }

    .div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9 {
        grid-column: span 2 / span 2 !important;
        grid-row: auto !important;
        height: auto;
    }
    Projects Section */

    .container .content .content1 {
       width: 100%;
    } 

    .certificate{
        width: clamp(150px, 100%, 100%);   
    }
}

@media (max-width: 646px) {
    .services .services-body .serv-body .serv1 {
        height: auto;
        width: 100%;
    }

    .body-contact-content {
        flex-direction: column-reverse;
        width: 90% !important;
    }

    form {
        width: 100% !important;
    }

    .footer-body{
        width: 90%;
    }

    .contact-content {
        width: 100%;
    }

    .connect {
        width: auto;
        max-width: 100%;
        height: auto;
    }

    /* 
    .parent{
        width: 90%; 
        grid-template-columns: repeat(1, 1fr); 
        grid-template-rows: auto; 
        height: auto; 
    }
    


    .div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9 {
        grid-column: span 2 / span 2 !important;
        grid-row: auto !important;
        height: auto;
    }
    Projects Section */

}

@media (max-width: 568px) {
    .services .services-body .serv-body .serv1 {
        height: auto;
        width: 100%;
    }

}


@media (max-width: 458px) {

    .header .navbar {
        width: 90%;
    }

    .menutoggle {
        display: flex;
    }

    .menutoggle i {
        font-size: 1.5rem;
        color: var(--text-main);
    }

    .header .navbar .navlinks {
        top: 0;
        right: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.815);
        backdrop-filter: blur(20px);
        height: 100vh;
        width: 0%;
        transition: all 0.5s ease-in-out;
    }

    .header .navbar .navlinks.open {
        width: 300px;
    }

    .header .navbar .navlinks.close {
        opacity: 0;
    }

    .header .navbar .navlinks ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 40%;
        left: 36%;
        position: absolute;
    }


    .container {
        height: auto;
    }

    .content {
        flex-direction: column-reverse;
        width: 95% !important;
    }

    .content1 {
        gap: 10px !important;
        width: 95% !important;
    }

    .content2 img {
        width: 320px !important;
        height: 400px !important;
        margin-bottom: 0 !important;

    }

    .character {
        font-size: clamp(1.4rem, 6vw, 5rem) !important;
    }

    .container .content .button button:nth-child(1) {
        width: 100%;
        height: 60px;
    }

    .container .content .button button:nth-child(2) {
        width: 100%;
        height: 60px;
    }

    .about-body {
        width: 90% !important;
    }

    .info {
        gap: 20px;
    }

    .About-section .about-body .box2 .about-content p {
        font-size: 1rem !important;
    }

    .About-section .about-body .box5 .box5-body {
        width: 100% !important;
    }

    .About-section .about-body .box5 .tech {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px !important;
        width: 100% !important;
    }

    .About-section .about-content .box5 .tech,
    .tech1,
    .tech2,
    .tech3,
    .tech4,
    .tech5,
    .tech6,
    .tech7,
    .tech8,
    .tech9 {
        padding: 0.4rem;
        font-size: clamp(0.7rem, 4vw, 0.7rem);
        font-weight: 900;
    }

    .About-section .about-body .box4 .moto {
        width: 90%;
        font-size: 0.8rem;
        font-weight: 900;
    }

    .services .services-body .serv1 .card .view {
        margin-top: 0 !important;
    }

    .services .services-body .serv1 .card .view button {
        width: 45% !important;
        padding: 0.8rem !important;
    }

    .services .services-body .serv1 .card {
        gap: 20px !important;
    }

    .services .services-body .serv1 .card p {
        font-size: 1rem !important;
    }

    .header-bttom-body {
        width: auto !important;
        padding: 0.8rem !important;
    }

    .header-bttom-body a {
        padding: 0.3rem !important;
    }

    .services .services-body .serv-body .serv1 {
        height: auto !important;
        width: 100%;
        padding: 1rem;
    }

    .proj1 {
        padding-bottom: 0.5rem !important;
        height: auto !important;
    }

    .proj1 img {
        display: block;
        height: 200px;
    }

    .box6 .box6-body h1 {
        font-weight: 800;
        font-size: 1.7rem;
    }

    .certificate {
        width: 100%;
    }

    .certificate .cer-body p {
        font-size: 0.8rem;
    }

    form {
        width: 100% !important;
    }

    .body-contact-content {
        flex-direction: column-reverse;
        width: 90% !important;
    }

    .parent {
        width: 90%;
    }

    .div1,
    .div2,
    .div3,
    .div4,
    .div5,
    .div6,
    .div7,
    .div8,
    .div9 {
        grid-column: span 2 / span 2 !important;
        grid-row: auto !important;
        height: 200px;
    }

    .contact-content {
        width: 100%;
    }

    .connect {
        width: auto;
        max-width: 100%;
        height: auto;
    }

}


.modals {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
}

.modal-contents {
  width: clamp(300px, 80%, 500px);
  background: var(--bg-main);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-contents h2{
    font-size: 1.8rem;
    font-weight: 700;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    color: var(--text-main);
}

.modal-contents p{
    font-size: 1.1rem;
    font-weight: normal;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--text-main);
}

.modal-contents #close-modal{
    padding: 13px;
    border: none;
    background-color: var(--bg-dark);
    color: var(--text-button);
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
}